*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {

    background-color: #FCFCFC;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 3%;
 }
 nav h1{
    font-size: 27px;
 }
nav ul {
    width: 55%;
    display: flex;
    justify-content: space-between;
} 
nav li{
    display: inline;
}

nav a{
    text-decoration: none;
    color:rgb(100, 94, 94);
    font-size: 16px;
}
.section1{
    display: flex;
    align-items: center;
    background-color: #FCFCFC;
    padding: 80px 0px;
}
.left{
    width: 60%;
    margin-left: 5%;
}
.left h1{
    font-size: 60px;
}
.left p{
    margin: 10px 0px;
}
.left button{
    padding: 10px 29px;
    background-color: #E02C6D;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: medium;


}
.right{
    width: 40%;
}
.right img{
    background-image: url("images/Circle\ design-svg.svg");
    background-repeat: no-repeat;
}

.logodiv{
    display: flex;
    width: 70%;
    margin-left: 15%;
    justify-content:space-between;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 20px 0px;
}

.h1{
    text-align: center;
    margin: 40px 0px;
}
.section2{
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
}
.section2 div {
    width: 25%;
    height: 380px;  
    box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 15%);
    margin-left: 6%;
    margin-bottom: 2%;
  
}
.section2 img{
     width: 90%;
     margin-top: 5%;
     height: 55%;
}
.section2 img   {
    margin-left: 5%;
}
.section2 h2  {
    margin-left: 5%;
}
.str0{
    margin-left: 5%;
}
.section2 i{
    display: inli;
    color: #FB8200;
    margin-bottom: 10px;
}
.section2 p{
    margin-left: 5%;
}

.section2 p{
 margin-bottom: 5%;
 color: gray;
}

.section3{
    display: flex;
    align-items: center;
    margin: 5%;
}
.section3 .left2{
    width: 45%;
}
.section3 .right2{
    width: 55%;
    margin: 5%;

}
.section3 h1{
font-size: 36px;
}
.section3 p{
    margin: 20px 0px;
}
.section3 button{
    border: none;
    padding: 12px 35px;
    background-color: #E02C6D;
    color: white;
    font-size: medium;
    margin: 10px;
}

.footer{
    text-align: center;
    background-color: #0A0826;
    padding: 80px 0px;
}
.footer h1{
    color: white;
}
.footer i{
    color: white;
    margin-right: 10px;
}
.footer p{
    color: #C6C4CF;
    margin: 12px 0px;
}



@media only screen and (max-width: 600px) {
     .section1{
        display: block;
     }
     .section1 div{
        width: 100%;
        margin-top: 20px;
        text-align: center;
        padding-right: 1%;
     }
     .logodiv img{
        width: 14%;
     }

     .section2{
        display: block;
        padding-left: 1%;

     }
     .section2 div{
        width: 90%;
        margin-top: 30px;

     }
     .section3{
        display: block;
        padding-left: 4%;
     }
     .section3 .left2{
        width: 100%;
        text-align: center;
     }
     .section3 .right2{
        width: 80%;
        text-align: center;
     }
  }